.form {
    @media screen and (min-width: 768px) {}

    &__textarea {
        display: block;
        min-width: 80%;
        margin: 70px auto 0;
        min-height: 150px;
        border-radius: 16px;
        background: #374f91;
        padding: 16px;
        color: inherit;
        border: none;
        box-shadow: $neumorphism__inset;

        @media screen and (min-width: 360px) {
            min-height: 200px;
        }

        @media(min-height: 641px) {
            min-height: 250px;
        }

        @media(min-height: 732px) {
            min-height: 350px;
        }

        @media screen and (min-width: 768px) {
            min-width: 70%;
        }

        &:focus {
            outline: none;
            box-shadow: $neumorphism__inset--focus;
        }

        &::placeholder {
            color: #aaa;
        }
    }
}