$neumorphism: -12px -12px 12px 0 rgba(150, 150, 255, .04),
12px 12px 12px 0 rgba(0, 0, 0, .07);
$neumorphism__inset: inset -12px -12px 12px 0 rgba(150, 150, 255, .03),
inset 12px 12px 12px 0 rgba(0, 0, 0, .07);
$neumorphism__inset--focus: inset -12px -12px 12px 0 rgba(150, 150, 255, .06),
inset 12px 12px 12px 0 rgba(0, 0, 0, .1);