@import "~normalize.css";

@import "_variables";
@import "modules/button.scss";
@import "modules/form.scss";
@import "modules/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  background: #222E50;
  color: #fff;
  font-family: 'Bitter', serif;
}